<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user.microposts.empty? %>

        <div class="search_form">
          <%= form_tag search_userpost_path, :method => 'get' do %>
            <p>
              Find micropost:
              <%= text_field_tag :search, params[:search] %>
              <%= hidden_field_tag :id, params[:id] %>
              <%= submit_tag "Search", :name => nil %>
            </p>
          <% end %>
        </div>


        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
